!!!
%html(ng-app='welcomeApp' ng-controller='welcomeCtrl')
  %head
    %title(ng-bind-template="angular: {{query}}") angular
    = javascript_include_tag 'application', debug: false
    = stylesheet_link_tag    'application', media: 'all', debug: false

  %body
    .container-fluid
      .row-fluid
        .col-xs-12
          %h1 Welcome
          .panel.panel-default
            .panel-heading
              Playing
            .panel-body
              .pull-right
                .btn-group
                  %button.btn.btn-default(ng-click='playpause()')
                    = fa_icon('play')
                    = fa_icon('pause')

                .btn-group
                  %button.btn.btn-success(ng-click='reward()')
                    = fa_icon('thumbs-up')
                  %button.btn.btn-danger(ng-click='skip()')
                    = fa_icon('thumbs-down')
              %b {{ currentSong.Title }}
              %span.label.label-info {{currentSong.Rank}}
              %br
              {{ currentSong.Artist }}
              %br
              %i {{ currentSong.Album }}
          .well
            %i Last Song
            %ul.list-group
              %li.list-group-item.text-muted
                %b {{ lastSong.Title }}
                %span.label.label-default {{lastSong.Rank}}
                %br
                {{ lastSong.Artist }}
                %br
                %i {{ lastSong.Album }}
            %hr
            %form.form-inline
              .input-group
                %span.input-group-addon
                  = fa_icon('search')
                %input.form-control(ng-model='query' type='text')
              .input-group
                %span.input-group-addon
                  = fa_icon('sort')
                %select.form-control(ng-model='orderProp')
                  %option hash
                  %option title
            %ul.list-group
              %li.list-group-item(ng-repeat="song in songs | filter:query | orderBy:orderProp")
                {{song.hash}}
                {{song.name}}

