.container-fluid
  .row
    .col-sm-12

      %ol.breadcrumb
        - @path_parts.each do |ppath, path_agg|
          %li= link_to ppath, "?path="+path_agg

  .row
    .col-sm-4
      .panel.panel-default
        .panel-heading
          .pull-right
            %a.btn.btn-default.btn-xs{href:'#folder_filters',data:{toggle:'collapse'}}
              = icon('filter')
          %a{href:'#folders',data:{toggle:'collapse'}} folders

        #folders.collapse.in
          .panel-body
            #folder_filters.collapse
              %form
                %input.form-control{name:'filter',type:'text',placeholder:'filter',value:params[:filter]}

            %table
              %tr
                %td
                  - last_path = @path_parts[-2].try(:second)
                  - if last_path.present?
                    = link_to icon('arrow-left'), "?path="+last_path, class: 'btn btn-default'
                %td
                  &nbsp;
                  = page_entries_info @folders

          /.btn-group
          /  - ('A'..'z').each do |l|
          /    %a.btn.btn-default{href:'#'}= l
          = paginate @folders, param_name: :folder_page

          %div#search.list-group
            - @folders.each do |folder|
              %a.folder.list-group-item{href: "?path=#{folder.full_path}"}
                .pull-right
                  .badge
                    = folder.songs_count
                %b= folder.path

          = paginate @folders, param_name: :folder_page
          
    .col-sm-4
      .panel.panel-default
        .panel-heading
          .pull-right
            %label
              %input{type:'checkbox'}
              Recursive
            %a.btn.btn-default.btn-xs{href:'#song_filters',data:{toggle:'collapse'}}
              = icon('filter')
          %a{href:'#songs',data:{toggle:'collapse'}} songs
        #songs.collapse.in
          #song_filters.panel-body.collapse
            %input.form-control{name:'filter',type:'text',placeholder:'filter',value:params[:filter]}
          %div#songs.list-group
            - if @songs.present?
              %a.request-all.list-group-item.list-group-item-warning{data:{path: @folder.full_path}}
                %b request all
              - @songs.each do |song|
                %a.song.list-group-item{data:{hash: song.audio_hash, path: song.path}}
                  .pull-right
                    = song.artist
                  %b= song.title

    .col-sm-4
      %b requests
      %div#requests.list-group
